<p>sex works!</p>

<button (click)="buttChange($event)" (click)="backTurnOn = !backTurnOn">{{buttTxt}}</button>

<!--<div [ngStyle]="{-->
<!--  width: '300px',-->
<!--  height: '150px',-->
<!--  borderRadius: '10px',-->
<!--  border: '3px solid red',-->
<!--  background: backTurnOn ? 'green' : 'red'-->
<!--  }">-->

<!--</div>-->

<!--<p [ngClass]="{-->
<!--  green: backTurnOn,-->
<!--  red: !backTurnOn-->
<!--}-->
<!--" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, mollitia.</p>-->

<p
  [class.red]="!backTurnOn"
  [class.green]="backTurnOn"
>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ipsum molestiae quaerat repudiandae saepe similique!</p>

