<article>

  <section>

    <div class="container">

      <h1>Angular Components1</h1>

      <app-header-form
        (onAdd)="updatePosts($event)"
      ></app-header-form>

      <hr />

      <app-header
        *ngFor="let p of headers"
        [post]="p"
        (onRemove)="deletePost($event)"
      >
        <div #info>
          <small *ngIf="p.text.length > 10; else tooShort">Постик то длинноват</small>
          <ng-template #tooShort>
            <small>Постик то коротковат</small>
          </ng-template>
        </div>

      </app-header>
    </div>

  </section>

</article>

